@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  background-image: url("/assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#auth-button {
    background-image: linear-gradient(to right, #3428c5, #005fe2, #0084e8, #00a4e2, #43c0da); /* Angled for better flow */
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(37, 99, 235, 0.3); /* Subtle blue glow */
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth interactions */
}

#auth-button:hover {
    transform: translateY(-2px); /* Lifts on hover */
    box-shadow: 0 6px 20px rgba(37, 99, 235, 0.4);
}

.view-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f4f5f7;
  color: #4b5563;
  padding: 10px 18px;
  border: none;
  border-radius: 999px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease;
}

.view-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

/* Inner Circle */
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #9ca3af; /* gray */
  transition: background-color 0.2s ease;
}

/* Active Button */
.view-btn.active {
  background-color: #eef2ff;
  color: #1e3a8a;
}

/* Active Circle */
.dot-active {
  background-color: #2563eb; /* blue */
}



@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  /* Initial position of the info side */
  .rotate-y-n90 {
    transform: rotateY(-90deg);
  }
  /* The hover state */
  .group-hover\:rotate-y-90 {
    transform: rotateY(90deg);
  }
}